*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
}
.cf:after{
  content: '';
  display: block;
  clear: both;
}
html{}
body{}
#wrap{}
header{
  position: relative;
}
header div.slideBtn{
  position: absolute;
  top:21%;
  left:3%;
  width:30px;
}
header div.slideBtn ul{}
header div.slideBtn ul li{
  width:100%;
  height: 4px;
  background: #000;
  margin: 6px 0;
  border-radius: 2px;
}
header div.slideBtn ul li:first-child{
  margin-top: 0;
}
header div.slideBtn ul li:last-child{
  margin-bottom: 0;
}
header h1{
  width:100%;
  text-align: center;
  padding: 3% 0;
}
header h1 img{
  width:50%;
}
header div.login{
  position: absolute;
  width:30px;
  height:30px;
  border-radius: 50%;
  background: #000;
  right:3%;
  top:21%;
}
header div.lnb{
  width:100%;
}
header div.lnb ul{
  width:100%;
}
header div.lnb ul li{
  float: left;
  width:25%;
  text-align: center;
  padding: 2% 0;
  font-size:1em;
  cursor: pointer;
  background: #5c6068;
  color:#fff;
}

section{
  width:100%;
}
section div.slider{
  position: relative;
}
section .slick-slide img{
  width:100%;
}
section .slick-arrow{
  position: absolute;
  top:50%;
}
section .slick-arrow.slick-prev{
  z-index: 1;
  left:3%;
}
section .slick-arrow.slick-next{
  right:3%;
}

section div.banner{
  margin-top: 5%;
}
section div.banner div{
  margin: 1% 0;
}
section div.banner img{
  width:100%;
}
section div.accordion{
  width:100%;
  text-align: center;
  margin-top: 3%;
}
section div.accordion div{
  padding: 2% 0;
  background: #ccc;
}
section div.accordion div p{

}
section div.accordion div p:nth-child(2){}

section div.whySky{
  width:100%;
  margin-top: 3%;
  text-align: center;
}
section div.whySky div.whySkyBox{
  width:calc(50% - 0.5%);
  height: 200px;
  float: left;
  margin-bottom: 1%;
  background: #ebebeb;
}
section div.whySky div.whySkyBox div.Number{
  width:40px;
  height:40px;
  line-height: 40px;
  margin: 10% auto;
  border-radius: 50%;
  background: #84ccc9;
  color:#fff;
}
section div.whySky div.whySkyBox:nth-child(2n-1){
  margin-right: 1%;
}
section div.whySky div.whySkyBox p{
  font-size:1em;
}
section div.whySky div.whySkyBox p:nth-child(3){
  font-size:0.825em;
}

section div.whySky div.whySky_01{}
section div.whySky div.whySky_01 img{}

section div.whySky div.whySky_02{}

section div.whySky div.whySky_03{}

section div.whySky div.whySky_04{}

section div.tabMenu{
  margin-top: 3%;
}
section div.tabMenu ul.tabs{
    width:100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
section div.tabMenu ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    width:50%;
    float: left;
    text-align: center;
    cursor: pointer;
  }

section div.tabMenu ul.tabs li.current{
    background: #ededed;
    color: #222;
  }

section div.tabMenu .tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
  }

section div.tabMenu .tab-content.current{
    display: inherit;
  }
footer{
  width:100%;
  position: fixed;
  bottom:0;
}
footer ul{

}
footer ul li{
  width:50%;
  float:left;
  text-align: center;
  background: #84ccc9;
  color:#5c6068;
}
