@font-face {
 font-family: NanumSquare;
 src: url(../lib/font/NanumSquareR.eot),
 url(../lib/font/NanumSquareR.woff) format('woff'),
 url(../lib/font/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: NanumSquareB;
 src: url(../lib/font/NanumSquareB.eot),
 url(../lib/font/NanumSquareB.woff) format('woff'),
 url(../lib/font/NanumSquareB.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
}
.cf:after{
  content: '';
  display: block;
  clear: both;
}
html{
  background: #f3f3f3;
  font-family: NanumSquare;
}
body{}
#wrap{}
header{
  position: relative;
  background: #fff;
}
header div.slideBtn{
  position: absolute;
  top:42%;
  left:3%;
  margin-top: -28px;
  width:25px;
}
header div.slideBtn ul{}
header div.slideBtn ul li{
  width:100%;
  height: 4px;
  background: #c1c1c1;
  margin: 4px 0;
  border-radius: 2px;
}
header div.slideBtn ul li:first-child{
  margin-top: 0;
}
header div.slideBtn ul li:last-child{
  margin-bottom: 0;
}
header h1{
  width:100%;
  text-align: center;
  padding: 3% 0;
}
header h1 img{
  width:50%;
}
header div.login{
  display: none;
  position: absolute;
  width:30px;
  height:30px;
  border-radius: 50%;
  background: #000;
  right:3%;
  top:21%;
}
header div.lnb{
  width:100%;
}
header div.lnb ul{
  width:100%;
}
header div.lnb ul li{
  float: left;
  width:25%;
  text-align: center;
  padding: 2% 0;
  font-size:1em;
  cursor: pointer;
  background: #5c6068;
  color:#fff;
}

section{
  width:100%;
}
section div.slider{
  position: relative;
}
section .slick-slide img{
  width:100%;
}
section .slick-arrow{
  position: absolute;
  top:50%;
}
section .slick-arrow.slick-prev{
  z-index: 1;
  left:3%;
}
section .slick-arrow.slick-next{
  right:3%;
}

section div.banner{
  background: #fff;
  padding: 1% 0;
  margin-top: 5%;
}
section div.banner div{
  margin: 1% 0;
}
section div.banner div a{
  display: block;
}
section div.banner img{
  width:100%;
}
section div.accordion{
  background: #84ccc9;

  width:100%;
  text-align: center;
  margin-top: 5%;
  padding: 2% 0;
}

section div.accordion h4{
  margin:20px 0;
  font-size:1.5em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 40px;
}
section div.accordion h4:before{
  content: '';
  display: inline-block;
  width:5px;
  height:20px;
  background: #fff;
  margin: 0 5px;
  vertical-align: middle;
  margin-left: 20px;
}
section div.accordion div{
  padding: 2% 20%;
  background: #fff;
  margin: 5px;
  position: relative;
  overflow: hidden;
}
section div.accordion div div{
  width:50px;
  height:50px;
  line-height: 50px;
  position: absolute;
  padding: 0;
  margin: 0;
  top:-2px;
  left:-2px;
  border:0;
  background: #fff;
  color: #004478;
  font-size:1.25em;
  font-weight: 600;
}
section div.accordion div p{
  font-size:2em;
  color:#272727;
  float: left;
}
section div.accordion div p:nth-child(3){
  font-size:1.25em;
  margin-top:5px;
  float: right;
}

section div.whySky{
  width:100%;
  margin-top: 5%;
  text-align: center;
}
section div.whySky div.whySkyBox{
  width:calc(50% - 0.5%);
  height: 600px;
  float: left;
  margin-bottom: 1%;
  background: #fff;
  overflow: hidden;
  position: relative;
}
section div.whySky div.whySkyBox div.imgBox{
  width:100%;
  height:55%;
  overflow: hidden;
}
section div.whySky div.whySkyBox div.imgBox img{
  width:100%;
  vertical-align: bottom;
}
section div.whySky div.whySkyBox div.Number{
  width:40px;
  height:40px;
  line-height: 40px;
  border-radius: 50%;
  background: #84ccc9;
  color:#fff;
  position: absolute;
  top:51%;
  left:50%;
  margin-left: -20px;
}
section div.whySky div.whySkyBox:nth-child(2n-1){
  margin-right: 1%;
}
section div.whySky div.whySkyBox p{
  font-family: NanumSquareB;
  font-size:2em;
  margin-top: 16%;
}
section div.whySky div.whySkyBox p:nth-child(4){
  font-family: NanumSquare;
  font-size:1.25em;
  width:85%;
  margin: 0 auto;
  margin-top: 4%;
}

section div.whySky div.whySky_01{}
section div.whySky div.whySky_01 img{}

section div.whySky div.whySky_02{}

section div.whySky div.whySky_03{}

section div.whySky div.whySky_04{}

section div.tabMenu{
  margin-top: 5%;
  margin-bottom: 10%;
}
section div.tabMenu ul.tabs{
    width:100%;
    margin: 0px;
    list-style: none;
    background: #fff;
  }
section div.tabMenu ul.tabs li{
    padding: 4% 0;
    color: #8e8e8e;
    display: inline-block;
    width:50%;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size:2em;
    background: #eaeaea;
    transition:all 1s;
  }

section div.tabMenu ul.tabs li.current{
    color: #04080b;
    background: #fff;
  }

section div.tabMenu .tab-content{
    display: none;
    background: #fff;
    padding: 5% 0;
    overflow: hidden;

  }
section div.tabMenu .tab-content.current{
    display: inherit;
  }
section div.tabMenu .tab-content ul{
  padding: 0 4%;
}
section div.tabMenu .tab-content ul li{
  font-size:1.5em;
  width:75%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 1% 0;
}
section div.tabMenu .tab-content ul span{
  font-size:1.5em;
  float:right;
}
footer{
  width:100%;
  position: fixed;
  bottom:0;
}
footer ul{

}
footer ul li{
  width:50%;
  float:left;
  text-align: center;
  background: #84ccc9;
  color:#5c6068;
}
